<%-
cert_options = @webapp['client_certificates']
production = {
  "admins" => @webapp['admins'],
  "default_locale" => @webapp['default_locale'],
  "available_locales" => @webapp['locales'],
  "domain" => @provider_domain,
  "force_ssl" => @webapp['secure'],
  "client_ca_key" => "%s/%s.key" % [scope.lookupvar('x509::variables::keys'), scope.lookupvar('site_config::params::client_ca_name')],
  "client_ca_cert" => "%s/%s.crt" % [scope.lookupvar('x509::variables::local_CAs'), scope.lookupvar('site_config::params::client_ca_name')],
  "secret_token" => @secret_token,
  "client_cert_lifespan" => cert_options['life_span'],
  "client_cert_bit_size" => cert_options['bit_size'].to_i,
  "client_cert_hash" => cert_options['digest'],
  "allow_limited_certs" => @webapp['allow_limited_certs'],
  "allow_unlimited_certs" => @webapp['allow_unlimited_certs'],
  "allow_anonymous_certs" => @webapp['allow_anonymous_certs'],
  "limited_cert_prefix" => cert_options['limited_prefix'],
  "unlimited_cert_prefix" => cert_options['unlimited_prefix'],
  "minimum_client_version" => @webapp['client_version']['min'],
  "default_service_level" => @webapp['default_service_level'],
  "service_levels" => @webapp['service_levels'],
  "allow_registration" => @webapp['allow_registration'],
  "handle_blacklist" => @webapp['forbidden_usernames'],
  "invite_required" => @webapp['invite_required']
}

if @webapp['engines'] && @webapp['engines'].any?
  production["engines"] = @webapp['engines']
end
-%>
#
# This file is generated by puppet. This file inherits from defaults.yml.
#
<%= scope.function_sorted_yaml({"production" => production}) %>
